/* GENERAL STYLING */

body {
  font-family: 'Segoe UI';
  /* font-family: verdana, sans-serif; */
  /* font-family: Arial, sans-serif; */
  /* background-color: #161617; */
  background-color: #29292b;
  color: rgb(196, 197, 197);
  margin: 0;
}

/* sets text to uppercase */
.uppercase {
  text-transform: uppercase;
}

/* style for reviews */
.reviews {
  color: grey;
  font-size: 18px;
  text-align: left;
  margin-left: 5%;
}

/* line that seperates reviews from item information */
.line {
  border: solid 4px rgb(196, 197, 197);
  width: 95%;
}


/* stling advert box */
.advert {
  border-color: #000000;
  border-top-width: 4px;
  border-style: solid;
  text-align: center;
}




  /* NAVBAR */

  /* makes nav bar stick to top of screen */
  nav {
    position: sticky;
    top: 0px;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  }

  /* styling for navbar */
  ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* makes items in nav bar float to left */
  li {
    float: left;
  }
  
  /* styling for links in navbar */
  li a {
    display: block;
    color: rgb(196, 197, 197);
    text-align: center;
    padding: 14px 64px;
    font-size: 150%;
    font-weight: 600;
    text-decoration: none;
  }
    
  /* Change the link color on hover */
  li.illuminate:hover {
    background-color: #5b6361;
  }

  /* logo postioning in nav bar */
    li.logo {
    margin-top: -18px;
    margin-bottom: -30px;
    margin-left: -90px;
  }

  /* profile symbol postioning in nav bar */
  li.profile {
    margin-top: -5px;
    margin-bottom: -50px;
    margin-right: -100px;
  }





  /* BUTTONS AND FORMS */
  
  /* Styling of all submit style buttons and quantity select fields */
  input {
    background-color: #5b6361;
    /* background-color: #222; */
    border: none;
    border-radius: 2px;
    color: rgb(196, 197, 197);
    padding: 2px 8px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Segoe UI";
    
  }

  /* styling of quantity selector */
  .quantity {
    width: 50px;
  }

  /* styling of select forms excluding quantity (wtf select forms only) */
  .select_form {
    background-color: #5b6361;
    color: rgb(196, 197, 197);
    border-radius: 2px;
    cursor: pointer;
  }

  /* styling of checkout button (different because its just a hyperlink) */
  .button-style {
    background-color: #5b6361;
    border: none;
    border-radius: 2px;
    color: rgb(196, 197, 197);
    padding: 2px 8px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }




  /* ITEM CARDS */

  /* Car images */
  img {
    opacity: 60%;
    width: 100%;
  }

  /* styling of card that the images and information sits on*/
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: #161617;
    /* width: 98%; */
    margin-bottom: 22px;
    padding-bottom: 12px;
  }

  /* eddited version of card for the basket page*/
  .card-basket {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 5% 5%;
    text-align: center;
    font-family: arial;
    width: 40%;
    float: left;
    background-color: #161617;
  }
  
  /* styling of price on card */
  .price {
    color: grey;
    font-size: 22px;
  }
    
  /* styling when hovering over add to basket button */
  .add_basket:hover {
    opacity: 0.7;
  }

  /* positioning of checkout and total price on basket page */
  #basket-checkout {
    position: absolute;
    top: 100;
    margin: 50px 50px;
  } 





/* HOVERING HINTS FOR CHECKOUT */

/* centers the checkout form */
  .center {
    text-align: center;
  }

  /* position of form */
  .hint {
    position: relative;
    display: inline-block;
  }

  /* styling of the hint */
  .hint-text {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding-bottom: 5px;
    border-radius: 6px;
    width: 320px;
    bottom: 100%;
    left: 50%;
    margin-left: -160px;
    margin-bottom: 5px;
    position: absolute;
    z-index: 1;
  }

  /* adds an arrow shape to the hint */
  .hint-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

  /* makes the hint show up when hovering over the field in the form */
  .hint:hover .hint-text {
    visibility: visible;
  }
