{% import "bootstrap/wtf.html" as wtf %}

<head>
    <meta charset="utf-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='website_stylesheet.css') }}">
    <title>Drivers Peak</title>
</head>

<nav>
    <div >
        <ul>
            <li class="logo"><a href="{{ url_for('home') }}"> <img src="{{ url_for('static', filename='images/' + 'logo_cropped.png')}}" height="65" width="500"/> </a></li>
            <li class="illuminate"><a href="{{ url_for('home') }}">HOME</a></li>
            <li class="illuminate"><a href="{{ url_for('basket') }}">BASKET</a></li>
            <li class="illuminate"><a href="{{ url_for('signup') }}">SIGN UP</a></li>
            
                {% if current_user.is_authenticated %}
                    <li class="illuminate"><a href="{{ url_for('logout') }}">LOGOUT</a></li>
                    <li style="float:right" class="uppercase"><a>{{current_user.username}}</a></li>
                    <li style="float:right" class="profile"><a><img src="{{ url_for('static', filename='images/' + 'profile.png')}}" height="50" width="50"/></a></li>
                {% else %}
                    <li class="illuminate"><a href="{{ url_for('login') }}">LOGIN</a></li>
                {% endif %}
        </ul>

    </div>
</nav>

{% block content %}
    <div>
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}
