{% extends "base.html" %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <link rel="stlesheet" type="text/css" href="website_stylesheet.css">
    <title>Basket</title>
</head>


{% block page_content %}

    <p>This is the basket</p>

    {% for item in basket %}
    {% set item_information = Item.query.get(item.item_id) %}
    <p>{{item_information.name}}, {{item_information.description}}, {{item_information.price}} <a href="{{ url_for('item', type=item_information.name) }}"> <img src="{{ url_for('static', filename='images/' + item_information.image)}}" height="300" width="300"/> </a> Item Quantity: {{item.quantity}} </p>

    <form method="post" action="{{ url_for('basket') }}">
        <input type="hidden" name="item_id" value="{{ item.item_id }}">
        <input type="number" name="quantity" min="0" value="{{item.quantity}}">
        <input type="submit" value="Set Quantity">
    </form>
    {% endfor %}
    <p>The total Price of the items in your basket is: {{total_price}} </p>

{% endblock %}
</html>