<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <link rel="stlesheet" type="text/css" href="website_stylesheet.css">
    <title>Home</title>
</head>


<body>

    <nav class="menu">
        <a href="home.html">Home</a>
        <a href="shopping_cart.html">Shopping Cart</a>
    </nav>

    <h1>Below is a list of the products availaible to buy</h1>

    <!-- for each item in the datbase displays the item along with a link that will go to the item page and display information about which ever item has been clicked  -->
    {% for item in items %}
    <p>{{item.name}}, {{item.description}}, {{item.price}}, <a href="{{ url_for('item', type=item.name) }}"> <img src="{{ url_for('static', filename='images/' + item.image)}}" height="300" width="300"/> </a> </p>
    {% endfor %}


</body>
</html>