{% extends "base.html" %}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <link rel="stlesheet" type="text/css" href="website_stylesheet.css">
    <title>Item</title>
</head>


{% block page_content %}

    <!-- displays information about which ever item was clicked on -->
    <p>{{item.name}}, {{item.description}}, {{item.price}}, {{item.environmental_impact}} <img src="{{ url_for('static', filename='images/' + item.image)}}"/> </p>

    <form method="post" action="{{ url_for('home') }}">
        <input type="number" name="quantity" min="1" value="1">
        <input type="hidden" name="item_id" value="{{ item.id }}">
        <input type="submit" value="Add to Basket">
    </form>

{% endblock %}
</html>